@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* General */
html {
    scroll-behavior: smooth;
}

body {
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
.btn,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

p {
    letter-spacing: .8;
}

.container {
    max-width: 1100px;
}

section,
footer {
    padding: 100px 0;
}

section .row-down {
    padding-bottom: 85px;
}

section h1 {
    color: #333;
}

section h4 {
    font-size: 12px;
    letter-spacing: 3px;
}

/* Header */

header .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .carousel-item1 {
    background-image: url(/images/home-bg-slideshow1.jpg);
}

header .carousel-item2 {
    background-image: url(/images/home-bg-slideshow2.jpg);
}

header .carousel-item3 {
    background-image: url(/images/home-bg-slideshow3.jpg);
}

header .carousel-inner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, #ff1900, #4b8b8b);
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

header .card-img-overlay {
    width: 100vw;
    padding: 0 26%;
    z-index: 1;
}

header p {
    font-size: 18px;
}

header .btn {
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 24px;
    border-radius: 0;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    header .card-img-overlay {
        width: 100vw;
        padding: 0 20%;
    }
}

@media (min-width: 575.98px) and (max-width: 768px) {
    header .carousel-item {
        min-height: 75vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (max-width: 575.98px) {
    header .card-img-overlay {
        padding: 0 5%;
    }
}

/* Navbar */
nav .navbar-brand {
    color: #505050;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
}

nav .navbar-nav {
    height: 50px;
    align-items: center;
}

nav .navbar-nav li a {
    transition: all 0.5s ease-in-out;
}

nav .navbar-nav>li a:hover {
    color: #ff1900 !important;
}

nav .navbar-nav>.nav-item.active>a {
    color: #ff1900;
}


@media (max-width: 765.98px) {
    nav .navbar-collapse {
        height: 280px;
        transition: .5s ease;
    }
    nav .navbar-nav {
        align-items: flex-start;
    }
}

/* Section Features */
section#features span {
    position: absolute;
    top: 0;
    margin-top: -42.5px;
}

section#features span i {
    height: 85px;
    width: 85px;
    text-align: center;
}

section#features h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: .8;
}

@media (max-width: 991.98px) {
    section#features .card3 {
        margin-top: 45px;
    }
}

@media (max-width: 765.98px) {
    section#features .card2 {
        margin-top: 45px;
    }
}

/* Section About */
section#about h3 {
    color: #444;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}

section#about .carousel-indicators {
    margin: 0 0 -50px;
}

section#about .carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #0044ff;
}

section#about .col-5 p {
    font-size: 18px;
    letter-spacing: .8;
    line-height: 28px;
}

section#about .col-4 p {
    font-size: 18px;
}

section#about .col-4 ul li {
    color: #777;
}

/* Section Video-bg */
section#video {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/video-bg.jpg);
    min-height: 465px;
    position: relative;
    border: none;

}

section#video>.overlay {
    position: absolute;
    background: #000000b3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

section#video a i {
    width: 80px;
    height: 80px;
}

section#video .card-img-overlay {
    z-index: 1;
    position: relative;
    max-width: 750px;
}

/* Section Menu */
section#menu .price {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    bottom: 10%;
    left: 5%;
}

@media (max-width: 575.98px) {
    section#menu .price {
        bottom: 15px;
        left: 10px;
    }
}

/* Section Team */
section#team .card-body {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 1;
}

section#team p {
    font-size: 12px;
}

section#team .card {
    position: relative;
}

section#team .card-body {
    background: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 450ms;
}

section#team .card:hover .card-body {
    color: #ffffff;
    height: 100%;
    background-color: #ff1900;
    padding-top: 30%;
    opacity: 0.8;
}

section#team .card-body .icon {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

section#team .card-body .icon a {
    text-decoration: none;
}

section#team .card-body i {
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

section#team .card-body i:last-child {
    padding-right: 0px;
}

section#team .card-body i:hover {
    background: #000;
    border-radius: 50%;
}

section#team .card-bg {
    background: #ff1900;
}

section#team .col:last-child p {
    font-size: 18px;
}

section#team .row-up h3 {
    font-size: 40px;
}

section#team .row-up p {
    font-size: 18px;
}

@media (max-width: 575.98px) {
    section#team .row-up h3 {
        font-size: 30px;
    }
}

/* Section Gallery */
section#gallery .row-down {
    padding: 0 0 40px 0;
}

section#gallery ul.filters {
    padding: 0 0 50px 0;
    justify-content: center;
    display: flex;
}

section#gallery ul.filters>li {
    list-style: none;
}

section#gallery ul.filters>li>a {
    color: #666;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 17px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

section#gallery ul.filters>li>a:hover {
    color: #ff1900;
}

section#gallery ul.filters>li.active>a {
    color: #ff1900;
}

section#gallery .card-head .m-link {
    position: relative;
    display: block;
}

section#gallery .card-head .m-link .m-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff1900;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

section#gallery .card-head .m-link:hover .m-hover {
    opacity: .6;
}

/* Section Contact */
section#contact {
    position: relative;
    min-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/contact-bg.jpg);
}

section#contact .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000000b3;
}

section#contact>.container {
    max-width: 800px;
    z-index: 1;
    position: relative;
}

section#contact>.container h1,
h4 {
    color: #fff;
}

section#contact form input,
section#contact form textarea {
    border: none;
    border-bottom: 1px solid #666;
    padding: 6px 12px;
    margin-bottom: 16px;
    height: 50px;
    background: #0000;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

section#contact form input:hover,
section#contact form textarea:hover {
    border-bottom: #ddd;
}

section#contact form input:focus-visible,
section#contact form textarea:focus-visible {
    border: none;
}

section#contact form textarea {
    min-height: 200px;
    overflow: auto;
}

section#contact form ::placeholder {
    color: #505050;
}

section#contact form span {
    font-weight: 600;
    font-size: 18px;
}

section#contact form button {
    background: #fff;
    border-radius: 4px;
    color: #ff1900;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
    border: none;
    cursor: pointer;
}

section#contact form button:hover {
    color: #fff;
    background: #ff1900;
}

/* Footer */

footer h3,
footer strong {
    font-size: 20px;
    padding-bottom: 15px;
}

footer strong {
    padding-bottom: 0px;
}

footer p {
    padding-bottom: 10px;
    margin: 0;
    font-size: 18px;
}

/* Copyright */
div.cpy a.return {
    width: 72px;
    height: 72px;
    position: relative;
}

div.cpy a.return i {
    width: 72px;
    height: 72px;
    position: absolute;
    font-size: 30px;
    color: #fff;
    background: #333;
    transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

div.cpy a.return i:hover {
    background: #ff1900;
}

@media (max-width: 575.98px) {
    div.cpy p {
        height: auto;
        font-size: 15px;
    }
}