@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    font-weight: 300;
}

h1,
h2,
h3,
.btn,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Header */

header .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .carousel-item1 {
    background-image: url(/images/home-bg-slideshow1.jpg);
}

header .carousel-item2 {
    background-image: url(/images/home-bg-slideshow2.jpg);
}

header .carousel-item3 {
    background-image: url(/images/home-bg-slideshow3.jpg);
}

header .carousel-inner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, #ff1900, #4b8b8b);
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

header .card-img-overlay {
    width: 100vw;
    padding: 0 26%;
    z-index: 1;
}

header p {
    font-size: 18px;
}

header .btn {
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 24px;
    border-radius: 0;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    header .card-img-overlay {
        width: 100vw;
        padding: 0 20%;
    }
}

@media (min-width: 575.98px) and (max-width: 768px) {
    header .carousel-item {
        min-height: 75vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (max-width: 575.98px) {
    header .card-img-overlay {
        padding: 0 5%;
    }
}

/* Navbar */
nav .navbar-brand {
    color: #505050;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
}

nav .navbar-nav {
    height: 50px;
    align-items: center;
}

nav .navbar-nav .nav-link {
    transition: .4s ease-in-out;
}

nav .navbar-nav .nav-link:hover {
    color: #0044ff;
}

nav .navbar-nav .nav-item.active {
    color: #0044ff;
}

/* Section Features */
section#features span {
    position: absolute;
    top: 0;
    margin-top: -42.5px;
}

section#features span i {
    height: 85px;
    width: 85px;
    text-align: center;
}

section#features h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: .8;
}

@media (max-width: 991.98px) {
    section#features .card3 {
        margin-top: 45px;
    }
}

@media (max-width: 765.98px) {
    section#features .card2 {
        margin-top: 45px;
    }
}

/* Section About */
section#about h3 {
    color: #444;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}

section#about .carousel-indicators {
    margin: 0 0 -50px;
}

section#about .carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #0044ff;
}

section#about .col-5 p {
    font-size: 18px;
    letter-spacing: .8;
    line-height: 28px;
}

section#about .col-4 p {
    font-size: 18px;
}

section#about .col-4 ul li {
    color: #777;
}

/* Section Video-bg */
section#video {
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/video-bg.jpg);
    min-height: 400px;
    border: 0;
}

section#video::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #000, #333);
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

section#video a i {
    width: 80px;
    height: 80px;
}

section#video .card-img-overlay {
    z-index: 1;
}

/* Section Menu */
section#menu .price {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    bottom: 10%;
    left: 5%;
}

@media (max-width: 575.98px) {
    section#menu .price {
        bottom: 15px;
        left: 10px;
    }
}

/* Section Team */
section#team .card-body {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 1;
}

section#team p {
    font-size: 12px;
}

section#team .card-head {
    position: relative;
}

section#team .card-body {
    background: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 450ms;
}

section#team .card-head:hover .card-body{
    color: #ffffff;
    height: 100%;
    background-color: #ff1900;
    padding-top: 30%;
    opacity: 0.8;
}

section#team .card-body .icon {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

section#team .card-body .icon a {
    text-decoration: none;
}

section#team .card-body i {
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

section#team .card-body i:last-child {
    padding-right: 0px;
}

section#team .card-body i:hover {
    background: #000;
    border-radius: 50%;
}

section#team .card-bg {
    background: #ff1900;
}

/* section#team .card-bg .card-head .btn {
    position: relative;
    overflow: hidden;
}

section#team .card-bg .card-head .btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: #fff;
    transition: all 1.5s;
    z-index: -1;
}

section#team .card-bg .card-head .btn:hover::before {
    height: 100%;
} */

section#team .col:last-child p {
    font-size: 18px;
}

section#team .row-up h3 {
    font-size: 40px;
}

section#team .row-up p {
    font-size: 18px;
}

@media (max-width: 575.98px) {
    section#team .row-up h3 {
        font-size: 30px;
    }
}

/* Section Gallery */
section#gallery .row-down {
    padding: 0 0 40px 0;
}

section#gallery ul.filters {
    padding: 0 0 50px 0;
    justify-content: center;
    display: flex;
}

section#gallery ul.filters>li {
    list-style: none;
    padding-right: 10px;
}

section#gallery ul.filters>li:last-child {
    padding-right: 0;
}

section#gallery ul.filters>li>a {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

section#gallery ul.filters>li>a:hover {
    color: #ff1900;
}

section#gallery ul.filters>li.active>a {
    color: #ff1900;
}









/* General */
section {
    padding: 100px 0;
}

section .row-down {
    padding-bottom: 85px;
}

section h1 {
    color: #333;
}

section h4 {
    font-size: 12px;
    letter-spacing: 3px;
}












/* 
font-family: 'Source Sans Pro',sans-serif; */