@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    font-weight: 300;
}

h1,h2,h3, .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Header */

header .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .carousel-item1 {
    background-image: url(/images/home-bg-slideshow1.jpg);
}

header .carousel-item2 {
    background-image: url(/images/home-bg-slideshow2.jpg);
}

header .carousel-item3 {
    background-image: url(/images/home-bg-slideshow3.jpg);
}

header .carousel-inner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, #ff1900, #4b8b8b);
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

header .card-img-overlay {
    width: 100vw;
    padding: 0 26%;
    z-index: 1;
}

header p {
    font-size: 18px;
}

header .btn {
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 24px;
    border-radius: 0;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    header .card-img-overlay {
        width: 100vw;
        padding: 0 20%;
    }
}

@media (min-width: 575.98px) and (max-width: 768px) {
    header .carousel-item {
        min-height: 75vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (max-width: 575.98px) {
    header .card-img-overlay {
        padding: 0 5%;
    }
}

/* Navbar */
nav .navbar-brand {
    color: #505050;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
}

nav .navbar-nav{
    height: 50px;
    align-items: center;
}

nav .navbar-nav .nav-link {
    transition: .4s ease-in-out;
}

nav .navbar-nav .nav-link:hover {
    color: #0044ff;
}

nav .navbar-nav .nav-link.active {
    color: #0044ff;
}

/* Section Features */
section#features span {
    position: absolute;
    top:0;
    margin-top: -42px;
}

section#features span i{
    height: 85px;
    width: 85px;
    text-align: center;
}

section#features h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: .8;
}

@media (max-width: 991.98px){
    section#features .card3 {
        margin-top: 45px;
    }
}

@media (max-width: 765.98px){
    section#features .card2 {
        margin-top: 45px;
    }
}

/* Section About */
section#about h3 {
    color: #444;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}


/* General */
section{
    padding: 100px 0;
}

section .row-down {
    padding-bottom: 85px;
}

section h1 {
    color: #333;
}

section h4 {
    font-size: 12px;
    letter-spacing: 3px;
}












/* 
font-family: 'Source Sans Pro',sans-serif; */